<p class="text-xl text-black/70 p-6 text-center tracking-normal">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquam qui
  libero tempore, totam adipisci obcaecati aspernatur nihil sapiente reiciendis
  sed dicta, consequatur ipsum aliquid necessitatibus ducimus exercitationem!
  Eum, saepe! Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
  tempora nam natus, nulla neque veniam et, aut voluptatibus, dicta alias quod
  expedita voluptate libero eveniet maiores quidem repellendus illo sed? CONTACT
  CONTACT PAGE LOLLLLL
</p>

